side nav
{% assign url_parts = page.url | split: '/' %}
{% assign url_parts_size = url_parts | size %}
{% assign rm = url_parts | last %}
{% capture base_url %}{{ '/docs/' }}{{ url_parts[2] }}{% endcapture %}
<p>v10: {{base_url}}</p>
<ul>
{% assign sorted_pages = site.pages | sort:"path" %}
{% for node in sorted_pages %}
{{node.url}}
  {% if node.url contains base_url %}
    {% assign node_url_parts = node.url | split: '/' %}
    {% assign node_url_parts_size = node_url_parts | size %}
    {% assign filename = node_url_parts | last %}
  {{url_parts_size}} and {{node_url_parts_size}} and {{filename}}  
    {% if url_parts_size == node_url_parts_size and filename != 'index.html' %}
   {% capture cate %}{{ node_url_parts | pop | last }}{% endcapture %}
      <li><a href='{{node.url}}'>{{node.title}}</a>   
      {% unless base_url contains cate %}
        {{ cate }}
      {% endunless %}
       </li>
    {% endif %}
  {% endif %}
{% endfor %}
</ul>
