


{% assign cat_list = "" | split:"|"  %}

v13: 

<nav class="pl-sidebar">
  <ul class="nav nav-stacked">

{% assign sorted_pages = site.patterns | sort:"path" %}



{% for node in sorted_pages %}

    <!--- get rid of /patterns and filename  --->
    {% assign node_url_parts = node.url | split: '/' | shift: 2 | pop %}
    {% assign node_url_size = node_url_parts | size %}
    {% assign url_depth = -1 %}



    {% for c in node_url_parts %}
      {% assign url_depth = url_depth | plus: 1  %}


      {% unless cat_list contains c %}

         <!--- current nav doesnt contain this dir, so I will add it. But first, see if I need to go up --->
        {{ url_depth }}
        {{ cat_list | size }}

      {% assign curr_depth = cat_list | size %}
      {% assign go_up = curr_depth - url_depth %}
      {{ go_up }}
        {% for i in (1..go_up) %}
          </ul></li>
        {% endfor %}

        <li  class="category">{{ c }}<ul>
        {% assign cat_list = cat_list | push: c %}
      {% endunless %}
    {% endfor %}
    
    
          <li  {% if node.url == page.url %} class="active" {% endif %} ><a href="{{site.baseurl}}{{ node.url }}" >{{node.title}}</a> </li>    
          {% assign curr_depth = node_url_size %}    



{% endfor %}


        {% for i in cat_list %}
          </ul></li>
        {% endfor %}

</ul>
</nav>




