<!doctype html>
<html class="no-js">
<head>
<meta charset="utf-8">
<title>{{page.title}} - EPO UX Patterns Library</title>
<meta name="description" content="{{page.description}}">
<meta name="keywords" content="{{page.keywords}}">
<meta name="viewport" content="width=device-width">
<meta name="theme-color" content="#004c97">
<meta property="og:title" content="{{page.title}}">
<meta property="og:description" content="{{page.description}}">
<link rel="shortcut icon" href="{{site.baseurl}}/site/favicon.ico">

<link href="{{site.baseurl}}/generated/styles/main.css" rel="stylesheet"/>
</head>
<body>
