<!doctype html>
<html class="no-js">
<head>
<meta charset="utf-8">
<title>{{page.title}} - EPO UX Patterns Library</title>
<meta name="description" content="{{page.description}}">
<meta name="keywords" content="{{page.keywords}}">
<meta name="viewport" content="width=device-width">
<meta name="theme-color" content="#004c97">
<meta property="og:title" content="{{page.title}}">
<meta property="og:description" content="{{page.description}}">
<link rel="shortcut icon" href="{{site.baseurl}}/favicon.ico">

<link href="{{site.baseurl}}/css/main.css" rel="stylesheet"/>


    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/built/prime-ng/node_modules/primeui/themes/delta/theme.css" />
    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/built/prime-ng/app/resources/icons/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/built/prime-ng/node_modules/primeui/primeui-ng-all.min.css" />

    <!-- 1. Load libraries -->
   <!-- 1. Load libraries -->
    <script src="node_modules/es6-shim/es6-shim.min.js"></script>
        <script src="node_modules/systemjs/dist/system-polyfills.js"></script>
    <script src="node_modules/angular2/es6/dev/src/testing/shims_for_IE.js"></script>    
    
 <script src="node_modules/angular2/bundles/angular2-polyfills.js"></script>
    <script src="node_modules/systemjs/dist/system.src.js"></script>
    <script src="https://npmcdn.com/typescript@1.8.10/lib/typescript.js"></script>
        <script src="node_modules/primeui/primeui-ng-all.min.js"></script>


    <!-- 2. Configure SystemJS -->
      <script>
      System.config({
                   defaultJSExtensions: true,
        transpiler: 'typescript', 
        typescriptOptions: { emitDecoratorMetadata: true }, 
        packages: {'app': {defaultExtension: 'ts'}} ,
            map: {
                'angular2': 'node_modules/angular2',
                'primeng': 'node_modules/primeng'
            }
      });
      console.error.bind(console);
    </script>
  <script src="https://code.angularjs.org/2.0.0-beta.15/Rx.js"></script>
    <script src="https://code.angularjs.org/2.0.0-beta.15/angular2.dev.js"></script>



  </head>
<body>